<html>
  <head>
    <title>index of svb project</title>
  </head>
  <body>
    <h1>Operations</h1>
    <ol>
      <li>
        <form action="sailors/add" method=POST>
          <label>name</label>
          <input name = "add-sailor-name"/>
          <label>age</label>
          <input name = "add-sailor-age"/>
          <label>experience</label>
          <input name = "add-sailor-experience"/>
          <input type=submit value = "Add New Sailor"/>
        </form>
      </li>
      <li>
        <form action="boats/add" method=POST>
          <label>name</label>
          <input name = "add-boat-name"/>
          <label>color</label>
          <input name = "add-boat-color"/>
          <input type=submit value = "Add New Boat"/>
        </form>
      </li>
      <li>
        <form action="voyages/add" method=POST>
          <label>sid</label>
          <input name = "add-voyage-sid"/>
          <label>bid</label>
          <input name = "add-voyage-bid"/>
          <label>date_of_voyage</label>
          <input name = "add-voyage-date"/>
          <input type=submit value = "Add New Voyage"/>
        </form>
      </li>
    </ol>
    <h1>Views</h1>
    <ol>
      <li><a href="/sailors">sailors</a></li>
      <li><a href="/boats">boats</a></li>
      <li><a href="/voyages">voyages</a></li>
      <li>
        <form action="/sailors/who-sailed" method=POST>
          <label>boat name</label>
          <input name="boat-name"/>
          <input type=submit value="sailors who sailed boat"/>
        </form>
      </li>
      <li>
        <form action="/boats/sailed-by" method=POST>
          <label>sailor name</label>
          <input name="sailor-name"/>
          <input type=submit value="boats sailed by"/>
        </form>
      </li>
      <li>
        <form action="/sailors/who-sailed-on-date" method=POST>
          <label>date</label>
          <input name="date"/>
          <input type=submit value="sailors who sailed on date"/>
        </form>
      </li>
      <li>
        <form action="/sailors/who-sailed-on-boat-of-color" method=POST>
          <label>color</label>
          <input name="color"/>
          <input type=submit value="sailors who sailed on boat of color"/>
        </form>
      </li>
      <li><a href="/boats/by-popularity">boats by popularity</a></li>
    </ol>
  </body>
</html>
